<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Skydelis</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/seimininkas/skydelis">
                <i class="fas fa-home"></i>Pagrindinis</a>
            </li>
            <li class="breadcrumb-item active">Skydelis</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Widgets -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="body">
            <div class="row align-items-center">
              <div class="col-md-4">
                <img src="assets/images/pages/welcome.png" alt="" class="w-100">
              </div>
              <div class="col-md-8">
                <h4 class="font-20 weight-500 mb-2">
                  Sveiki sugrįžę <div class="weight-600 font-30 col-blue pt-1">VARDAS PAVARDĖ</div>
                </h4>
                <p class="font-18 max-width-600">
                  Labai džiaugiamės, kad sugrįžote ir toliau naudojatės mūsų veterinarijos paslaugomis.
                  Smagu, kad pasirinkote mūsų veterinarijos specialistus ir jais pasikliaunate.
                  Mums yra svarbu jūsų augintinio visapusiška sveikatos priežiūrą,
                  daugiausia dėmesio skiriame ligų prevencijai.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Widgets -->
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon-only shadow-primary float-left">
              <img src="assets/images/pages/blood-pressure.png" alt="">
            </div>
            <div class="card-right">
              <div>
                <h5 class="pull-right">Gyvūnų skaičius</h5>
              </div>
              <div class="col-green">
                <h3 class="font-weight-bold pull-right mb-0">69</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon-only shadow-primary float-left">
              <img src="assets/images/pages/heart-rate.png" alt="">
            </div>
            <div class="card-right">
              <div>
                <h5 class="pull-right">Gyvūnų išrašų</h5>
              </div>
              <div class="col-green">
                <h3 class="font-weight-bold pull-right mb-0">100</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon-only shadow-primary float-left">
              <img src="assets/images/pages/glucose.png" alt="">
            </div>
            <div class="card-right">
              <div>
                <h5 class="pull-right">Artėjantys vizitai</h5>
              </div>
              <div class="col-green">
                <h3 class="font-weight-bold pull-right mb-0">1</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon-only shadow-primary float-left">
              <img src="assets/images/pages/blood-count.png" alt="">
            </div>
            <div class="card-right">
              <div>
                <h5 class="pull-right">Vizitų skaičius</h5>
              </div>
              <div class="col-green">
                <h3 class="font-weight-bold pull-right mb-0">420</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!---->

    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="card">
          <div class="header">
            <h2><strong>Artėjantys Vizitai</strong></h2>
          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Specialistas</th>
                    <th>Tel. Numeris</th>
                    <th>Gyvūnas</th>
                    <th>Data</th>
                    <th>Laikas</th>
                    <th>Būsena</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Paulius Norkus</td>
                    <td>+37061234123</td>
                    <td>Geriausiasis</td>
                    <td>2021-04-17</td>
                    <td>16:00</td>
                    <td><div class="badge col-green">Patvirtintas</div></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <div class="header">
            <h2><strong>Gyvūnų Sąrašas</strong></h2>
          </div>
          <div class="tableBody">
            <div class="table-responsive">
              <table class="table table-hover ">
                <thead>
                  <tr>
                    <th>Vardas</th>
                    <th>Gimimo Metai</th>
                    <th>Čipas</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>Geriausiasis</td>
                      <td>2021-04-17</td>
                      <td>SD67FG86SDF44G</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!---->
  </div>
</section>