<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 p-l-10 font-17">
            {{ formosAntraste }}
          </div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Uždaryti">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form
      class="register-form m-4"
      [formGroup]="paslaugaForma"
      (ngSubmit)="(issaugoti)"
    >
      <!-- -->
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Pavadinimas</mat-label>
            <span matPrefix>
              <mat-icon class="mr-2">grid_4x4</mat-icon>
            </span>
            <input matInput formControlName="pavadinimas" />
            <mat-error
              *ngIf="paslaugaForma.get('pavadinimas').hasError('required')"
              >Įveskite pavadinimą</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Kaina</mat-label>
            <span matPrefix>
              <mat-icon class="mr-2">euro_symbol</mat-icon>
            </span>
            <input
              matInput
              formControlName="kaina"
              type="number"
              onKeyPress="if(this.value.length==6) return false;"
            />
            <span matSuffix>.00</span>
            <mat-error *ngIf="paslaugaForma.get('kaina').hasError('required')"
              >Įveskite kainą</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Aprašymas</mat-label>
            <textarea
              matInput
              formControlName="aprasymas"
              style="min-height: 100px"
            ></textarea>
            <mat-error
              *ngIf="paslaugaForma.get('aprasymas').hasError('required')"
              >Įveskite aprašymą</mat-error
            >
            <!--<textarea matInput formControlName="cipas" readonly></textarea> -->
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="button-row button-center">
            <button
              mat-raised-button
              color="primary"
              [type]="issaugoti"
              [disabled]="!paslaugaForma.valid"
              (click)="issaugoti()"
            >
              Išsaugoti
            </button>
            <button
              mat-raised-button
              color="accent"
              (click)="uzdaryti()"
              tabindex="-1"
            >
              Uždaryti
            </button>
            <button
              mat-raised-button
              color="warn"
              [type]="issaugoti"
              (click)="istrinti()"
            >
              Ištrinti
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
