<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Skydelis</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/administratorius/skydelis">
                <i class="fas fa-home"></i>Pagrindinis</a>
            </li>
            <li class="breadcrumb-item active">Skydelis</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Widgets -->
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <div class="info-box7 l-bg-card1 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15">Numeris 1</h5>
            <h2 class="text-right">
              <i class="fas fa-user-injured pull-left"></i><span>231</span>
            </h2>
            <p class="m-b-0">Kažkas</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="info-box7 l-bg-card2 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15">Numeris 2</h5>
            <h2 class="text-right">
              <i class="far fa-calendar-check pull-left"></i><span>122</span>
            </h2>
            <p class="m-b-0">Kažkas</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="info-box7 l-bg-card3 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15">Numeris 3</h5>
            <h2 class="text-right">
              <i class="fas fa-cut pull-left"></i><span>28</span>
            </h2>
            <p class="m-b-0">Kažkas</p>
          </div>
        </div>
      </div>
      <!--<div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-card4 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15">Numeris 4</h5>
            <h2 class="text-right">
              <i class="fab fa-internet-explorer pull-left"></i><span>42</span>
            </h2>
            <p class="m-b-0">Kažkas</p>
          </div>
        </div>
      </div>-->
    </div>
    <!-- #END# Widgets -->
  </div>
</section>
